<!-- views/reviews-new.handlebars -->

<form method="POST" action="/reviews">
 {{> reviews-form}}

 <!-- BUTTON -->
 <p>
  <button type="submit">Save Review</button>
 </p>
  <p><a href="/">Cancel</a></p>

</form>